@import "../../../../assets/css/mixin";

.aheto-features-slider {
  $p: &;

  &--karma-travel1 {
    padding: 0 95px;
    @include xs-size-max{
      padding: 0 35px;
    }

    .swiper-button-prev {
      left: 0;

      &::before {
        content: '\f3d5';
      }
    }

    .swiper-button-next {
      right: 0;

      &::before {
        content: '\f3d6';
      }
    }

    #{$p}__image {
      width: 220px;
      height: 220px;
      margin: 0 auto 40px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      position: relative;
      @include xs-size-max{
        margin-bottom: 20px;
      }
    }

    #{$p}__label {
      width: 70px;
      height: 70px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 50%;
      transform: rotate(25deg);
      position: absolute;
      right: -17px;
      top: 5px;
      @include md-size-max{
        right: 0;
      }
      @include sm-size-max {
        width: 65px;
        height: 65px;
      }
    }

    #{$p}__desc {
      margin-bottom: 40px;
      @include xs-size-max{
        margin-bottom: 20px;
      }
    }

    #{$p}__title {
      margin-bottom: 27px;
      @include xs-size-max{
        margin-bottom: 10px;
      }
    }

    #{$p}__links {
      a {
        display: table;
        margin: 0 auto;
      }
    }
  }
}